@charset "UTF-8";

*{
    /*Paleta de Cores*/
    --botao:#58c4c4;
    --hover-botao:#37a0a0;
    --fonte-2:#a87bb7;
    --fonte-1:#612674;
    --fundo-2:#f6f6f6;
}

h1,h2,h3,h3,h5,h6{
    font-family: 'Oxygen',sans-serif;
}

.button-default{
    display: inline-block;
    padding: .85em 2.5em;
    border-radius: 5px;
    background-color: var(--botao);
    box-sizing: border-box;
    border: none;
}

.button-default:hover{
    background-color: var(--hover-botao);
}

.button-default a{
    color: white;
    text-decoration: none;
}

.top-header{
    text-align: center;
}

.top-header-logo{
    margin: .5em;
}

.top-nav{
    background-color: var(--fonte-1);
    text-align: center;
}

.top-nav ul{
    list-style-type: none;
    padding: .5em 0px;
    margin: 0;
}

.top-nav a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1em;
}

.top-main{
    text-align: center;
}

.top-content{
    padding: 1em;
    background-color: var(--fundo-2);
}

.top-content-title{
    color: var(--fonte-1);
    font-size: 1.375em;
    margin: 1.375em;
}

.top-content-subtitle{
    color: var(--fonte-2);
    font-size: 1em;
    line-height: 1.5;
}