@charset "UTF-8";

/*Estilos Gerais*/

:root
{
    --fonte: tahoma, arial, sans-serif;
    --cor-font-nav: #425564;
    --cor-portfolio-h1: #252525;
    --cor-portfolio-p:#555;
    --cor-about: #003d52;
    --cor-address: #143f52;
    --cor-rodape: #0b171f;
    --cor-texto-rodape: #6f8597;
}

*
{

}

body
{
    font-family: var(--fonte);
    margin: 0;
    padding: 0;
}

/*Divisão Principal*/

#principal
{

width: 1024px;
margin: 20px auto;

}

/*Header*/

.header-top
{
    height: 50px;
    background-color: #162028;
    position: relative;
}

.logotipo
{
    margin: 5px 0px 0px 155px;
}

/*Barra de Navegação (NavBar)*/

.header-nav
{

position: absolute;
top: 0;
right: 0;
height: 100%;

}

.header-nav ul
{

margin: 0px;
padding: 0px;

}

.header-nav li
{

display: inline-block;
list-style: none;
margin: 0px 15px 0px 0px;
padding: 13px;

}

.header-nav a
{

text-decoration: none;
color: var(--cor-font-nav);
text-transform: uppercase;
font-size: 12px;
letter-spacing: 5px;
transition: color .5s linear;
}

.header-nav a:hover
{

color: white;

}

/*Portfolio*/

.portfolio
{
    padding: 50px 100px;
    text-align: center;
}

.portfolio h1
{

font-size: 36px;
color: var(--cor-portfolio-h1);

}

.portfolio p
{
    font-size: 16px;
    line-height: 2;
    color: var(--cor-portfolio-p);
}

/*Imagens dos modelos - Gallery*/

.gallery
{

color: var(--cor-portfolio-p);
padding: 0px 100px 50px 100px;
overflow: auto;

}

.gallery-card
{

width: 32%;
float: left;
text-align: center;
}

.gallery-title
{

text-transform: uppercase;
letter-spacing: 4px;
font-weight: bold;
font-size: 16px;

}

/*About - Sobre*/

.about
{
    background-color: var(--cor-about);
    padding: 100px;
    color: white;
    background-image: url('../imagens/bg_detalhe.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.about h2
{

text-transform: uppercase;
font-size: 50px;
font-weight: normal;
}

.about p
{

line-height: 1.5;
width: 70%;

}

/*Contato*/

#contact
{

margin: 50px 0px;

}

#contact address
{

color: var(--cor-address);
text-transform: uppercase;
font-size: 26px;
font-style: normal;
text-align: center;
font-weight: bold;

}

/*Google Maps - Localização*/

.maps
{

width: 100%;
height: 450px;
margin-top: 15px;

}

.maps iframe
{

width: 100%;

}

/*Footer - Rodapé*/

.rodape
{

background-color: var(--cor-rodape);
padding: 25px;
font-size: 12px;
color: var(--cor-texto-rodape);
letter-spacing: 5px;
text-align: center;

}